body {
  background-image: url('../images/Backgroung.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  color: white;
  display: flexbox;
  overflow: hidden
}

a,
ul {
  color: white;
  list-style: none;
  text-decoration: none;
  font-size: 25;
  position: relative;
  right: 30;
}


header>ul {
  display: flex;
  padding: 10px;
}

li {
  margin-left: 20px;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: rgba(136, 216, 248, 0.788);
  grid-column: 1/4;
  padding: 10px;
}

main {
  background-color: chartreuse;
}

img {
  width: 100px;
}

