<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="/script/home.js"></script>
  </head>
  <body onload="onLoad()">
    <main>
      <h1>Endereços</h1>
      <ul id="enderecos"></ul>
      <h1>Editar Endereço</h1>
      <form>
        <input type="number" id="idEnd" disabled placeholder="0" />
        <input type="text" id="title" disabled placeholder="title" />
        <input type="number" id="cep" disabled placeholder="cep" />
        <input type="text" id="addr" disabled placeholder="addr" />
        <input type="text" id="num" disabled placeholder="num" />
        <input type="text" id="comp" disabled placeholder="comp" />
        <button type="submit">enviar</button>
      </form>
      <h1><a href="endereco.html">Adicionar endereço</a></h1>
    </main>
  </body>
</html>
